@import '~@/themes/vars.less';

figure {
    margin: 0;
}
.anticon.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.anticon.trigger:hover {
    color: #1890ff;
}

.mc-layout-sider-children .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
}

.site-layout {
    .site-layout-background {
        background: #fff;
    }

    .mc-layout-header {
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-right: 24px;
    }

    .mc-page-header {
        padding: 0px;
    }
}

.mc-dropdown-trigger {
    padding: 0 12px;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.025);
    }
}

.mc-dropdown-menu-item.mc-dropdown-menu-item-only-child {
    padding: 7px 15px;
}

.mc-form {
    .mc-form-item {
        margin-bottom: 20px;
    }
}

.mc-card {
    margin-bottom: 20px;

    .tag-input {
        width: 78px;
        margin-right: 8px;
        vertical-align: top;
    }

    .site-tag-plus {
        background: #fff;
        border-style: dashed;
    }

    .edit-tag {
        user-select: none;
    }

    .tag-input {
        margin: 5px;
    }

    .mc-alert.mc-alert-warning {
        // padding: 5px 12px 5px 37px;
        margin: 0 0 5px 5px;
    }
}

.mc-tag {
    margin: 5px;
}

.mc-upload.mc-upload-drag {
    padding: 182px 0px;
    .justify();
    border-style: solid;
}

.anticon.anticon-ellipsis.mc-dropdown-trigger {
    font-size: 18px;
    padding: 0px;
}

// braft-editor style
.bf-content {
    height: 630px;
}

.bf-controlbar {
    box-shadow: inset 0 -1px 0 0 #f0f0f0;
}

.mc-modal {
    .mc-modal-header {
        padding: 15px 16px;
    }
    .mc-modal-body {
        padding: 30px;
        min-height: 600px;
        overflow: hidden;
    }
}

// clear button animation
button[mc-click-animating-without-extra-node]:after {
    border: 0 none;
    opacity: 0;
    animation: none 0 ease 0 normal;
}
